@import "variables";

@mixin soical-btn-mixin($color, $hover-color) {
  color: $color;
  border-color: $color;
  background-image: none;
  background-color: transparent;
  &:active, &:hover, &:focus {
    color: $white;
    background-color: $hover-color;
  }
}

.btn-outline {
  &-facebook {
    @include soical-btn-mixin($facebook, $facebook-hover);
  }
  &-google {
    @include soical-btn-mixin($google, $google-hover);
  }
  &-github {
    @include soical-btn-mixin($github, $github-hover);
  }
}
